.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;

  .navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    margin-right: 2rem;

    img {
      width: 72px;
      height: 30px;
      object-fit: cover;

    }
  }

  .navbar-links-wrapper {
    display: flex;
    flex-direction: row;
  }

  .navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-links-wrapper p,
  .navbar-sign p,
  .navbar-menu-container {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }

  .navbar-sign button,
  .navbar-menu-container button {
    padding: 0.5rem 1rem;
    color: white;
    background: orangered;
    font-family: var(--font-family);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    line-height: 25px;
    outline: none;
  }

  .navbar-menu {
    margin-left: 1rem;
    display: none;

    .navbar-sign svg {
      cursor: pointer;
    }

    .navbar-menu-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: var(--color-footer);
      padding: 2rem;
      position: absolute;
      top: 40px;
      right: 0;
      margin-top: 2rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .navbar-menu-container p {
      margin: 1rem 0;
    }

    //.navbar-links-container-links-sign {
    //  display: none;
    //}
  }

  @media screen and (max-width: 1050px) {
    .navbar-links-wrapper {
      display: none;
    }
    .navbar-menu {
      display: flex;
    }
  }
  @media screen and (max-width: 700px) {
    .navbar-container {
      padding: 2rem 4rem;
    }
  }
  @media screen and (max-width: 500px) {
    .navbar-container {
      padding: 2rem;
    }
    .navbar-sign {
      display: none;
    }
    .navbar-menu-container {
      top: 20px;
    }
    .navbar-links-container-links-sign {
      display: block;
    }
  }

}

